<header>
    <nav>
        <h1 routerLink="">Start<span>IT</span><mat-icon>hub</mat-icon></h1>
        <ul>
            <li><button>Jobs</button></li>
            <li><button>Applications</button></li>
            <li><button>Saved Jobs</button></li>
            <li><button>Profile <mat-icon>arrow_drop_down</mat-icon></button></li>
        </ul>
    </nav>
    <div class="search">
        <input type="text" placeholder="Job Name">
        <input type="text" placeholder="Location">
        <button>Search<mat-icon>search</mat-icon></button>
        <button>Detailed Search<mat-icon>manage_search</mat-icon></button>
    </div>
</header>

<router-outlet></router-outlet>