<div class="container">
    <div class="card">
        <h1>Login</h1>
        <input type="email" name="email" placeholder="Email" [(ngModel)]="email" (keydown.enter)="login()" required>
        <input type="password" name="password" placeholder="Password" [(ngModel)]="password" (keydown.enter)="login()" required>

        <div class="card-bottom">
            <div>
                <button type="button" (click)="login()">Login</button>
                <p>haven't registered yet? <a routerLink="/register">Register</a></p>
            </div>

            <div class="error-message" *ngIf="errorMessage">
                {{errorMessage}}
            </div>
        </div>
        <img src="/images/login.png" alt="login">
    </div>
</div>