<div class="hero-section">
    <div class="hero-text">
        <h1>Starting your IT Career has never been easier!</h1>
    </div>
    <div class="fade"></div>
    <div class="hero-image"></div>
</div>

<div class="informations-section">
    <div class="info">
        <mat-icon>workspaces</mat-icon>
        <div><strong>3500+</strong> Employer</div>
    </div>
    <div class="info">
        <mat-icon>badge</mat-icon>
        <div><strong>12000+</strong> Employee</div>
    </div>
    <div class="info">
        <mat-icon>fact_check</mat-icon>
        <div><strong>8900+</strong> Contract</div>
    </div>
</div>

<div class="how-to-section">
    <h1>Are you curious how?</h1>
    <div class="scroll-track" #scrollContainer>
        <!-- Eredeti elemek -->
        <div class="first-step">
            <div class="resume-image"></div>
            <h3><strong>Step 1 :</strong> Register and upload your resume, start applying to jobs.</h3>
        </div>
        <div class="second-step">
            <div class="reviews-image"></div>
            <h3><strong>Step 2 :</strong> Wait for the employer's contact to review your application and evaluates it.</h3>
        </div>
        <div class="third-step">
            <div class="coding-image"></div>
            <h3><strong>Step 3 :</strong> After the feedback, you can start working to achieve the expectations of the position within the stipulated time.</h3>
        </div>
        <div class="fourth-step">
            <div class="selecting-image"></div>
            <h3><strong>Step 4 :</strong> The most persistent are offered a 3-month internship after an interview</h3>
        </div>
        <div class="fifth-step">
            <div class="contract-image"></div>
            <h3><strong>Step 5 :</strong> If you have worked as expected, you can get a full-time job after the internship.</h3>
        </div>
        <!-- Másolat -->
        <div class="first-step">
            <div class="resume-image"></div>
            <h3><strong>Step 1 :</strong> Register and upload your resume, start applying to jobs.</h3>
        </div>
        <div class="second-step">
            <div class="reviews-image"></div>
            <h3><strong>Step 2 :</strong> Wait for the employer's contact to review your application and evaluates it.</h3>
        </div>
        <div class="third-step">
            <div class="coding-image"></div>
            <h3><strong>Step 3 :</strong> After the feedback, you can start working to achieve the expectations of the position within the stipulated time.</h3>
        </div>
        <div class="fourth-step">
            <div class="selecting-image"></div>
            <h3><strong>Step 4 :</strong> The most persistent are offered a 3-month internship after an interview</h3>
        </div>
        <div class="fifth-step">
            <div class="contract-image"></div>
            <h3><strong>Step 5 :</strong> If you have worked as expected, you can get a full-time job after the internship.</h3>
        </div>
    </div>
</div>

<div class="recommendation-section">
    <div class="left-side">
        <img src="/images/developer.png" alt="developer">
        <div class="review-cards">
            <mat-card class="card" appearance="outlined">
                <mat-card-header>
                  <div mat-card-avatar class="avatar-1"></div>
                  <mat-card-title>Mathew</mat-card-title>
                  <mat-card-subtitle>Junior Developer</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur harum natus quam nam eligendi iusto quidem cupiditate et. Quidem temporibus laudantium nesciunt facilis eaque reiciendis obcaecati recusandae assumenda ab et!
                  </p>
                </mat-card-content>
              </mat-card>
    
              <mat-card class="card" appearance="outlined">
                <mat-card-header>
                  <div mat-card-avatar class="avatar-2"></div>
                  <mat-card-title>Mark</mat-card-title>
                  <mat-card-subtitle>Junior Data Analyst</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur harum natus quam nam eligendi iusto quidem cupiditate et. Quidem temporibus laudantium nesciunt facilis eaque reiciendis obcaecati recusandae assumenda ab et!
                  </p>
                </mat-card-content>
              </mat-card>

              <mat-card class="card" appearance="outlined">
                <mat-card-header>
                  <div mat-card-avatar class="avatar-3"></div>
                  <mat-card-title>Elena</mat-card-title>
                  <mat-card-subtitle>Junior Developer</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur harum natus quam nam eligendi iusto quidem cupiditate et. Quidem temporibus laudantium nesciunt facilis eaque reiciendis obcaecati recusandae assumenda ab et!
                  </p>
                </mat-card-content>
              </mat-card>
        </div>
    </div>
    <div class="right-card">
        <h3>Whether you're just starting out or seeking new opportunities, this platform is the perfect place to take the next step in your professional journey. Don’t miss out on this opportunity to enhance your career prospects.</h3>
        <button>Search for Jobs</button>
    </div>
</div>

<div class="email-section">
    
</div>
